.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 30px;
}
.row {
  margin: 30px;
  display: flex;
  flex-direction: row;

  border: 2px solid black;
}
.coloum {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.image {
  border-radius: 100%;
  width: 200px;
}
