.container {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  margin: 30px;
}
.row {
  margin: 30px;
  display: flex;
  flex-direction: row;
}
.coloum {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.image {
  border-radius: 100%;
}
